NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_RPC_URL=https://mainnet.base.org
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_DEMO_TOKEN_ADDRESS=
NEXT_PUBLIC_EQUITYKEY_ADDRESS=
